#map {
  width: 100%;
  height: 100vh;
}

#mqttform {
  position: relative;
  top: 10px;
  right: 10px;
  z-index: 1000;
  padding: 1em;
  background: white;
}

#mqttform input {
  display: inline-block;
  border: 1px solid #999;
  font-size: 14px;
  border-radius: 4px;
  height: 28px;
  line-height: 28px;
  padding: 1 1 em;
}

#mqttform input[type="submit"] {
  box-sizing: content-box;
  padding: 0 1em;
  text-transform: uppercase;
  color: white;
  background: #088864;
  border-color: #17d767;
}

#mqttform input[type="button"] {
  box-sizing: content-box;
  padding: 0 1em;
  text-transform: uppercase;
  color: white;
  background: #7b1121;
  border-color: #840b0b;
}

#mqttform input[type="Stext"] {
  display: inline-block;
  border: 1px solid #999;
  font-size: 14px;
  border-radius: 4px;
  height: 28px;
  line-height: 28px;
  padding: 1 1 em;
  width: 65%;
}

#messages {
  background-color: #4a3104;
  min-height: 30px;
  width: 360px;
  max-width: 90%;
  border-radius: 12px;
  padding: 16px 22px 17px 20px;
  display: flex;
  align-items: center;
  font-size: large;
  color: #FFFFFF;
}

#status {
  background-color: #062047;
  min-height: 10px;
  width: 280px;
  max-width: 50%;
  border-radius: 12px;
  padding: 10px 10px 10px 10px;
  display: flex;
  align-items: center;
  font-size: medium;
  color: #FFFFFF;
}

/* CSS */
.button-1 {
  background-color: #0f3a69;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover {
  background-color: #932134;
}